apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamlit-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: streamlit-app
  template:
    metadata:
      labels:
        app: streamlit-app
    spec:
      containers:
      - name: streamlit-app
        image: mparram23/streamlit-app:latest
        ports:
        - containerPort: 8501
        env:
        - name: DB_HOST
          value: postgres-service       # No uso localhost porque el contenedor de Streamlit no podria acceder al contenedor de Postgres
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: coolstat
        - name: DB_USER
          value: postgres
        - name: DB_PASS
          value: postgres
        - name: STREAMLIT_SERVER_HEADLESS
          value: "true"
